<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="./css/main.css" th:href="@{./css/main.css}" />
</head>
<body class="contain">
	<div class="container-fluid ">
	<h2 class="box1">Add Event</h2>
	<div class="box">
		<form class="form-group col-md-6" th:object="${event}" th:action="@{save}" action="#" method="post">
		  	<label for="name">Event</label>
			<input class="form-control" type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="host">Host</label>
			<input class="form-control" type="text" id="host" th:field="*{host}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="date">Date</label>
			<input class="form-control" type="date" th:field="*{date}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="time">Time</label>
			<input class="form-control" type="time" id="time" th:field="*{time}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="location">Location</label>
			<input class="form-control" type="text" id="location" th:field="*{location}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="city">City</label>
			<input class="form-control" type="text" id="city" th:field="*{city}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
    		<label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${category}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-primary" type="submit" value="Save"></input>
		</form>
	</div>
	</div>
</body>
</html>