<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Event APP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="./css/main.css" th:href="@{./css/main.css}" />
    
</head>
<body class="eventlistpage">
	<div class="container ">
	<div class="col-md-4" id="header" >
		<h1>List of Events</h1>
	</div>
	<div class="col-md-4">
		<h3 id="welcome" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4 signout" >
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="log out" class="btn btn-danger" />
		</form>
	</div>
    <table id="events" class="table table-dark">
		<tr>
		    <th>Event</th>
		    <th>Host</th>
		    <th>Date</th>
		    <th>Time</th>
		    <th>Location</th>
		    <th>City</th>
		    <th>Category</th>
		    <th></th>
		    <th></th>
		        
		</tr>  
    	<tr th:each = "event : ${events}">
    		<td th:text="${event.name}"></td>
    		<td th:text="${event.host}"></td>
    		<td th:text="${event.date}"></td>
       		<td th:text="${event.time}"></td>
       		<td th:text="${event.location}"></td>
       		<td th:text="${event.city}"></td>
       		<td th:text="${event.category.name}"></td> 		
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${event.id})}"><button  class="btn btn-danger">Delete</button></a></td>
       		<td><a th:href="@{/edit/{id}(id=${event.id})}"><button  class="btn btn-success">Edit</button></a></td>
    	</tr>
     </table>
     <a href="/add" ><button class="btn btn-success">Add Event</button></a>    	
     
     </div>
</body>
</html>